@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@700&family=VT323&family=Zilla+Slab+Highlight:wght@700&display=swap');

.editor {
  .palet {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 1px;
    z-index: 1;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-bottom: -2px;
  }

  .font-selector {
    height: 30px;
    z-index: 1;
    position: absolute;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;

    .input-color {
      padding: 0;
      cursor: pointer;
    }
  }
}
