@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  position: fixed;
  width: 100vw;
  // height: 100vh;
  background: #fff;
  z-index: 999999999;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

input {
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  cursor: text;
  margin: 0em;
  padding: 1px 2px;
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid #ccc;
}

select {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}
