
.logo {
	display: flex;
	align-items: center;
	padding-left: 16px;

	.logo-link {
		text-decoration: none;
		color: #000;
		font-family: 'Source Sans Pro';
		display: inline-table;
		width: 80px;
		background: #fafafa;
		padding: 4px;

		.inner {
			display: flex;

			button {
				margin-right: 6px;
				font-family: monospace;
				font-style: italic;
				font-size: 16px;
				font-weight: bold;
				box-sizing: border-box;
				border: 1px solid #ccc;
				border-radius: 2px;
				padding: 5px 9px;
				color: #333;
				background-color: #f4f4f4;
				outline: none;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}

			.name-container {
				display: flex;
				flex-direction: column;
				line-height: 13px;
				justify-content: center;
				font-size: 18px;
				align-items: flex-end;

				.high {
					font-weight: bold;
				}
			}
		}
	}
}

h1 {
	font-weight: 600;
	margin-left: 12px;
	line-height: 22px;
	font-size: 18px;
	max-width: 270px;

	@media (max-width: 600px) {
		max-width: 210px;
	}
}

.loader-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imprimapp-modal .body .page-items {

	.options {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 60px;

		.option {
			padding: 12px 0;
			font-size: 20px;
			display: flex;
			align-items: center;
			cursor: pointer;
			justify-content: space-between;
			width: 100%;
			height: 100px;

			.left {
				display: flex;
				align-items: center;
				padding-left: 20px;

				@media (max-width: 600px) {
					margin-left: 10px;
					padding-left: 0;
				}

				.image {
					width: 82px;
					margin-right: 12px;
				}
			}

			.select {
				margin-right: 36px;
				height: 42px;

				img {
					width: 42px;
				}

				@media (max-width: 600px) {
					margin-right: 10px;
				}
			}

			&:hover {
				background: #ecf0f5;
			}
		}
	}
}
