
.page-checkout-info {

  .product-details {
    font-size: 14px;
  }

  h5 {
    margin: 8px 0 0 0;
    font-size: 13px;
  }

  .seller {
    font-size: 13px;
  }

	.buyer {
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 11px;
      color: red;
      padding-top: 0px;
    }

    input {
      margin-top: 6px;
      padding: 7px 8px;
    }

    button {
      padding: 10px;
      background: black;
      color: white;
      border: 0;
      border-radius: 7px;
      margin-top: 20px;
      cursor: pointer;
    }
	}
}
