
@keyframes App-logo-float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px)
    }
    100% {
        transform: translateY(0px)
    }
}

body {
    font-family: 'Montserrat', serif;
    margin: 0;
    height: 250px;
    width: 300px;
    user-select: none;
    cursor: pointer;
}
.tleft {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 143px;
    width: 88px;
    text-align: center;
}
.tright {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 146px;
    right: 5px;
    width: 74px;
    text-align: center;
}
.tcenter {
    font-size: 15px;
    color: white;
    text-decoration: underline;
    position: absolute;
    bottom: 7px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.tlogo {
    position: absolute;
    animation: App-logo-float infinite 3s ease-in-out;
}
.tlogo.t-2 {
    top: 14px;
    left: 14px;
}
.tleft.t-2 {
    color: black;
    top: 108px;
    width: 65px;
}
.tright.t-2 {
    color: black;
    top: 114px;
    right: 5px;
    width: 50px;
}
.tcenter.t-2 {
    color: black;
    bottom: 16px;
}
.tleft.t-3 {
    color: black;
    top: 108px;
    width: 65px;
    left: -2px;
}
.tright.t-3 {
    color: black;
    top: 114px;
    right: 4px;
    width: 50px;
}
.tcenter.t-3 {
    color: black;
    bottom: 10px;
}
.tleft.t-4 {
    color: black;
    top: 108px;
    width: 65px;
}
.tright.t-4 {
    color: black;
    top: 114px;
    right: 10px;
    width: 50px;
}
.tcenter.t-4 {
    color: black;
    bottom: 8px;
}
