<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHEC8JRJV1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-QHEC8JRJV1');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>imprima.app - estampa</title>

        <meta property="og:title" content="Imprima.app - estampa" />
        <meta property="og:type" content="image/png" />
        <meta property="og:image" content="{{ url }}" />
        <style>
            body {
                margin: 0;
            }
            img {
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <img src="{{ url }}" alt="" />
    </body>
</html>

