
.imprimapp-modal .page-checkout {
	> .title {
		display: flex;
		align-items: center;
		font-size: 25px;
    margin-bottom: 16px;
	
		> div:first-child {
			background: #ededed;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 38px;
			height: 35px;
			padding-bottom: 3px;
			font-weight: bold;
			margin-right: 12px;
			cursor: pointer;
		}
	}

	img {
		max-width: 100%;
	}

	.stores {

		.title {
			font-size: 22px;
			margin-top: 10px;
			margin-bottom: 6px;
		}

		.find {
			display: flex;
			margin-top: 12px;

			button {
				margin-left: 6px;
				height: 48px;
				width: 46px;
				border: 1px solid #ccc;
				font-size: 20px;
				border-radius: 4px;
			}
		}

		.list {
			display: flex;
			flex-direction: column;
			padding-top: 10px;

			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding-top: 6px;

				.small {
					font-size: 14px;
					color: #2196f3;
				}

				.b { font-weight: bold; }
				.i1 {
					width: 50%;
				}
				.i2 {
					width: 20%;
				}
				.i3 {
					width: 20%;
				}
				.i5 {
					width: 10%;
				}
			}
		}
	}
}
