.modal {

  .modal-overlay {
    background-color: rgba(10,10,10,0.6);
    margin-left: -16px;
    position: fixed;
    top: 0;
    height: 100%;
    max-height: 616px;
    z-index: 1;
  }

  .modal-options {
    height: 386px;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    z-index: 1;

    .motitle {
      height: 35px;
      display: flex;
      align-items: center;
      margin-left: 10px;

      .motext {
        font-size: 14px;
      }
      .moclose {
        font-size: 26px;
        right: 0px;
        position: absolute;
        padding: 0 6px;
        cursor: pointer;
      }
    }

    .modal-container {
      overflow-y: auto;
      height: 351px;
      padding: 0 4px;

      .emoji {
        width: 42px;
        padding: 4px;
        cursor: pointer;
      }

      .repo {
        width: 120px;
        cursor: pointer;  
      }
    }
  }

}
