@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


.imprimapp-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 999999999;
	top: 0;
	left: 0;
	font-family: 'Montserrat', sans-serif;

	input {
		text-rendering: auto;
		color: black;
		letter-spacing: normal;
		word-spacing: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: start;
		appearance: textfield;
		cursor: text;
		margin: 0em;
		font: 400 13.3333px Arial;
		padding: 1px 2px;
		padding: 12px 14px;
    	font-size: 18px;
		border-radius: 4px;
		border: 1px solid #ccc;
	}
}
